$main_background: #18191a;

#login_section, #signup_section {

    min-height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .MuiAvatar-colorDefault {
        background-color:#4ab2ee;
    }

    .MuiTypography-colorTextSecondary {
        color: rgba(255, 255, 255, 0.54);
    }

    .MuiTypography-colorPrimary {
        color: #4ab2eec0;
    }

    .MuiCheckbox-root {
        color: rgba(255, 255, 255, 0.54);
    }

    .MuiFormLabel-root {
        color: rgba(255, 255, 255, 0.54);
    }

    .MuiInputBase-root {
        color: white;
    }

    legend {
        span {
            color: white !important;
        }
    }

    .MuiFormLabel-filled {
        color: rgba(148, 148, 148, 1);
    }
}

#login_section, #signup_section {
    background-color: $main_background;
}

#login_form .MuiContainer-root {
    margin-top: 0px;
    margin-bottom: 0px;
}

#login_form, #signup_form {
    .MuiButton-containedPrimary {
        background-color: #4ab2ee !important;
    }
  
    .makeStyles-avatar-2 {
        background-color: #4ab2ee !important;
    }
}

.MuiOutlinedInput-notchedOutline {
    border-color: rgba(255, 255, 255, 0.23) !important;
}

#signup_form {
    display: grid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 15vw;
    flex-wrap: wrap;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 0px) {
    #signup_form {
        padding: 1em;
    }
}