$fontKhula: 'Khula', 'Source Sans Pro', 'Roboto', 'Helvetica', 'Arial',
  sans-serif;

#hero {
    height: calc(100vh - 60px - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(#0e0e0e), to(#1d3850)) fixed;
    background: #212121;

    svg {
        padding: 0;
    }

    h1 {
        text-align: center;
        color: white;
        font-family: $fontKhula;
        font-weight: 400;
        font-size: 60px;
        letter-spacing: 0em;
        width: 100vw;
        font-style: normal;
        line-height: 1.25em;
        text-rendering: optimizeLegibility;
        margin-bottom: 0em;
    }
  
    div {
        align-self: center;
    }
  
    h3 {
        text-align: center;
        color: white;
        font-family: $fontKhula;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0.05em;
        width: 100vw;
        font-style: normal;
        line-height: 1.25em;
        text-rendering: optimizeLegibility;
  
        .hero_link {
            display: inline-block;
            position: relative;
            transition-duration: .1s;
            transition-timing-function: ease-in;
            border-bottom: 0px solid #f54444;
    
            &:hover {
                border-bottom: 3px solid #f54444;
            }
  
            a {
                vertical-align: top;
            }
        }
      
        a {
            color: white;
            text-decoration: none;
            line-height: 1.25em;
        }
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: 4;
  
    &:hover {
        animation-iteration-count: 0;
    }
}
  
@-webkit-keyframes bounce {
    0%, 20%, 53%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    40%, 43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
    }
    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
}
    95% {
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-4px,0);
    }
}
    
@keyframes bounce {
    0%, 20%, 53%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    40%, 43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }
    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }
    90% { 
        -webkit-transform: translate3d(0,-4px,0); transform: translate3d(0,-4px,0);
    }
} 
  
  
#hero_text {
    justify-self: center;
    align-self: center;
    width: auto;
    margin-top: 30vh;
}

#scrolldown {
    margin-bottom: 10vh;
    align-self: center;
    cursor: pointer;
    transition: all 200ms;
    -webkit-transition: all 200ms;
    transition-timing-function: ease-in-out;
  
    &:hover {
        transition: all 200ms;
        -webkit-transition: all 200ms;
        transform: scale(1.2)
    }
}

@media only screen and (max-width: 1100px) {
  
    #hero h1 {
        font-size: 50px;
    }
  
    #hero h3 {
        font-size: 16px;
    }
  
    #hero h3 .hero_link a {
        bottom: -13px;
    }
}

@media only screen and (max-width: 700px) {
  
    #hero h1 {
        font-size: 25px;
        width:  100vw;
    }
  
    #hero h3 {
        font-size: 14px;
        width: fit-content;
        margin-block-start: 0;
        margin-block-end: 0;
        margin: 0 auto;
        margin-top: 10px;
    }
  
    #hero h3 .hero_link a {
        bottom: -12px;
    }
  
    #hero {
        height: calc(100vh - 60px);
    }
}