$blockbg: #ececec;
$blockco: #101010;
$font: 'Roboto', 'Helvetica', 'Arial', sans-serif;

.modal {

  position: absolute;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  .inner_modal {
    background-color: #303031;
    border-radius: 0px;
    overflow: hidden;
    padding: 1em;

    a {
      &:hover {
        background-color: rgb(127, 129, 133) !important;
      }
    }
  }
  
  .modal_header {
    width: auto;
    height: auto;
    background-color: #1a86c3;
    color: white;
    font-size: 18pt;
    font-weight: 700;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    padding: 16px;
    text-align: left;
  }
  
  .modal_body {
    max-width: 50vw;
    padding: 24px;
    background-color: #2d2d2d;
  }
}
  
.modal_open {
  overflow: hidden;
}


.method_category {
  color: #cacaca;
  font-size: 12pt;
  font-weight: 400;
  font-family: $font;
  margin-top: 1em;
  letter-spacing: .1rem;

  span {
    padding-left: 0.25em;
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    padding: 0.25em;
    width: 100%;
    text-align: center;
    color: white;
    letter-spacing: .1rem;
    font-weight: 200;

    button {
      border: 0;
      font-weight: 400;
      font-size: 12pt;
      font-family: $font;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .modal_category_method {
    color: black;
    width: fit-content;
    padding: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1),
      0 1px 3px 1px rgba(0, 0, 0, 0.08), 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    border-radius: 50px;
    background: #fff;
    transition-duration: 200ms;
    background: #424344;
    color: white;
    letter-spacing: .05rem;
    font-size: .9rem;
    &:hover {
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 2px rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    }
  }
}

#methodSelectModal {
  .modal_body {
    max-width: 40vw;
  }
  li {
    width: fit-content;
  }
}

.presetBtn {
  cursor: pointer;
}

.noAuthModal {
  max-width: 30vw;
}


/*
.informational_modal {
  font-size: 194px;
  font-weight: 900;
  display: flex;
  margin-right: auto;
  margin-left: 0px;
}
*/