@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Khula:400,700&display=swap');

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialised;
  font-weight: 400;
  scroll-behavior: smooth;
  background-color: #18191a;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100vw;
  margin: 0;
  background-color: #18191a !important;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #696969;
  border-radius: 10px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #3daae9;
}

$Blue-Main: #398adb;
$Blue-Main-Hover: #559ce2;

$Blue-Font: #55a4f3;
$Blue-Font-Hover: #89c4ff;

$Timeline: rgb(145, 145, 145);
$Timeline: #2d81d6;

$Main-Font: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$Reddish-Main: #f76c6c;
$White-Main: #fff;

$Feature-Grey: #979797;

$Transition-Short: 100ms;
$Transition-Medium: 200ms;
