@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Khula:400,700&display=swap");
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialised;
  font-weight: 400;
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #696969;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #3daae9;
}

body {
  overflow-x: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#hero {
  height: calc(100vh - 60px - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  /*
  background-image: url('../components/general/img/bg.jpg');
  background-size: cover;
  */
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(#0e0e0e), to(#1d3850)) fixed;
  background: #191919;
}

#hero h1 {
  text-align: center;
  color: white;
  font-family: "Khula", "Source Sans Pro", "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 0em;
  width: 100vw;
  font-style: normal;
  line-height: 1.25em;
  text-rendering: optimizeLegibility;
  margin-bottom: 0em;
}

#hero div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#hero h3 {
  text-align: center;
  color: white;
  font-family: "Khula", "Source Sans Pro", "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.05em;
  width: 100vw;
  font-style: normal;
  line-height: 1.25em;
  text-rendering: optimizeLegibility;
}

#hero h3 .hero_link {
  display: inline-block;
  border-bottom: 3px solid #f54444;
  position: relative;
}

#hero h3 .hero_link a {
  vertical-align: top;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

#hero h3 .hero_link a:hover {
  bottom: -16px;
  border-bottom: 3px solid #f54444;
}

#hero h3 a {
  color: white;
  text-decoration: none;
  line-height: 1.25em;
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5;
}

.bounce:hover {
  -webkit-animation-iteration-count: 0;
          animation-iteration-count: 0;
}

@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
  }
  95% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

#hero_text {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: auto;
  margin-top: 30vh;
}

#seperatorHeader1 {
  width: 100%;
  height: 15vw;
  padding-left: 0;
  padding-bottom: 0;
}

.svg_container {
  width: 100%;
  height: 15vw;
  justify-self: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#hero svg {
  padding: 0;
}

.svg_seperator {
  height: 100px;
  background-color: #1772a7;
}

#signup_form {
  display: -ms-grid;
  display: grid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#scrolldown {
  margin-bottom: 15vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  transition: all 200ms;
  -webkit-transition: all 200ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

#scrolldown:hover {
  transition: all 200ms;
  -webkit-transition: all 200ms;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#converter {
  background-color: #4597c7;
  /*
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23539fcc' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%2360a8d2' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%236eb0d7' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%237bb9dd' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%2389c1e2' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  */
  background-attachment: fixed;
  background-size: cover;
  min-height: calc(100vh - 60px);
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(#212121), to(#333f49)) fixed;
  background: #191919;
}

p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 24px;
          margin-block-end: 24px;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

textarea {
  background-color: #252525;
  color: #dadada;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-box-shadow: inset 0px 11px 8px -10px #00000030, inset 0px -11px 8px -10px #00000030;
          box-shadow: inset 0px 11px 8px -10px #00000030, inset 0px -11px 8px -10px #00000030;
}

textarea:focus {
  outline: none;
}

#header_margin {
  height: 60px;
}

.site_header {
  position: fixed;
  z-index: 2;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: #373737;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.site_header .site_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site_header .site_title img {
  margin-left: 10px;
}

.site_header #keyimage {
  width: 2em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-start;
  margin-top: 5px;
}

.site_header #header_links {
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
  margin-right: 13vw;
  font-weight: 200;
}

.site_header #header_links a {
  color: white;
  text-decoration: none;
  font-size: 15pt;
}

.site_header #header_links #login {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  margin-right: 2rem;
}

.site_header #header_links #signup {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  margin-right: 2rem;
}

.site_header #header_links #about {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.site_header p {
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
  font-size: 30pt;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 13vw;
  line-height: 1;
  outline: none;
}

.site_header #header_links #login,
.site_header #header_links #signup,
.site_header #header_links #about {
  -webkit-box-shadow: 0px 0px black;
          box-shadow: 0px 0px black;
}

.site_header #header_links #login:hover,
.site_header #header_links #signup:hover,
.site_header #header_links #about:hover {
  border-bottom: 3px solid #f54444;
}

.block {
  -webkit-transition: -webkit-box-shadow;
  transition: -webkit-box-shadow;
  transition: box-shadow;
  transition: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  z-index: 1;
  max-width: 28vw;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background-color: white;
  background-color: #121212;
  border-radius: 0px;
  overflow: hidden;
  -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.035), 0 3px 14px 2px rgba(0, 0, 0, 0.03), 0 5px 5px -3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.035), 0 3px 14px 2px rgba(0, 0, 0, 0.03), 0 5px 5px -3px rgba(0, 0, 0, 0.05);
}

.block:hover {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.block .chartcontainer {
  border-top: 1px solid #444444;
}

.block .chartcontainer .controller {
  border-bottom: none;
  padding: 0 24px 0 24px;
}

.block .block_head {
  height: 70px;
  background-color: rgba(59, 59, 59, 0.92);
  color: black;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 22px;
  font-weight: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 16px 24px;
}

.block .block_head .block_head_text {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #101010;
  font-weight: 500;
  font-size: 22px;
  color: #e1e1e1;
  letter-spacing: 0.05em;
}

.block .block_body_input,
.block .block_body_output {
  width: 100%;
  height: 100%;
  line-height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block .block_body_input textarea,
.block .block_body_output textarea {
  resize: none;
  border: none;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 200px;
  padding: 24px;
  line-height: 1.5;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 12pt;
  font-weight: 300;
}

.block .block_body_input div,
.block .block_body_output div {
  resize: none;
  border: none;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 200px;
  padding: 24px;
  line-height: 1.5;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14pt;
  font-weight: 300;
}

.block_body_input div.controller:first-child {
  -webkit-box-shadow: inset 0 10px 10px -10px #00000030;
          box-shadow: inset 0 10px 10px -10px #00000030;
}

.outer_box {
  background-color: #2a2a2a;
  width: 100%;
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

#block_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0rem 13vw;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
  margin-bottom: 3em;
}

.block_connector {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  min-width: 50px;
  height: 60px;
  top: 5px;
  background-color: #252525;
  position: relative;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 20pt;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.035), 0 3px 14px 2px rgba(0, 0, 0, 0.03), 0 5px 5px -3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.035), 0 3px 14px 2px rgba(0, 0, 0, 0.03), 0 5px 5px -3px rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 1500px) {
  #block_container {
    margin: 0rem 8vw;
    margin-bottom: 3em;
  }
  .site_header #header_links {
    margin-right: 8vw;
  }
  .site_header p {
    margin-left: 8vw;
  }
}

.block_settings {
  z-index: 1;
  -webkit-transition: -webkit-box-shadow;
  transition: -webkit-box-shadow;
  transition: box-shadow;
  transition: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.035), 0 3px 14px 2px rgba(0, 0, 0, 0.03), 0 5px 5px -3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.035), 0 3px 14px 2px rgba(0, 0, 0, 0.03), 0 5px 5px -3px rgba(0, 0, 0, 0.05);
  color: #2f1728;
  max-width: 450px;
  min-width: 350px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background-color: #252525;
  border-radius: 0px;
  overflow: hidden;
}

.block_settings:hover {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.block_settings #to_replace_letter,
.block_settings #replacement_letter {
  resize: none;
  border: none;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 2em;
  padding: 0;
  line-height: 1.5;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14pt;
  font-weight: 300;
}

.block_settings .block_head {
  height: 70px;
  background-color: rgba(59, 59, 59, 0.92);
  color: white;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18pt;
  font-weight: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block_settings .block_head .block_head_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block_settings .block_head .block_head_options button {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18pt;
  font-weight: normal;
  line-height: 1;
}

.block_settings .block_head .block_head_options .block_head_option {
  font-size: 14px;
  margin-right: 10px;
  color: grey;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  letter-spacing: 0.05em;
  height: 20px;
}

.block_settings .block_head .block_head_options .block_head_option:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 3px #f54444;
          box-shadow: 0px 3px #f54444;
}

.block_settings .block_head .block_head_options .block_head_option.selected {
  color: #ff586e;
  font-weight: 900;
}

.block_settings .block_head button {
  background-color: transparent;
  font-weight: 700;
  border: none;
  margin: 0;
  padding: 0;
}

.block_settings .block_head button:focus {
  outline: none;
}

.block_settings .block_head .block_head_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
  color: #e1e1e1;
  border: none;
  background-color: transparent;
  font-size: 22px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.05em;
}

.block_settings .block_head .block_head_text #caret {
  width: 1.5em;
  fill: white;
}

.block_settings .block_head .block_head_text:hover {
  cursor: pointer;
}

.block_settings .block_body {
  height: auto;
}

.block_settings .block_body .block_body_input,
.block_settings .block_body .block_body_output {
  width: 100%;
  height: 100%;
  line-height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

.block_settings .block_body .block_body_input textarea,
.block_settings .block_body .block_body_output textarea {
  resize: none;
  border: none;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 200px;
  padding: 24px;
  line-height: 1.5;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14pt;
  font-weight: 300;
  background-color: #252525;
  color: #dadada;
  margin: 0;
}

.chartcontainer .controller {
  background-color: #363636;
}

select {
  color: #dadada;
  background-color: black;
}

/*
.rollaway {
  -webkit-animation-name: roll;
  animation-name: roll;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes roll {
  0% {
    margin-left: 0%;
    width: 300%; 
    transform: rotate(0deg)
  }

  100% {
    margin-left: 2000%;
    width: 100%;
    transform: rotate(2000deg)
  }
}
*/
.controller {
  width: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid #444444;
}

.controller .settings_name {
  /*
        border-right: 1px solid $border_grey;
        color: $greyed_text;
        padding: 1em 1em 0em 24px;
        font-family: $font-secondary;
        font-size: 10pt;
        font-weight:700;
        line-height: 10px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        border-right: 1px solid #d4d4d4;
        */
  border-right: 1px solid #444444;
  color: #949494;
  padding: 1em 1em 0 24px;
  font-family: "Source Sans Pro", "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.controller #caesar_transposition {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 24px 24px 0px 24px;
}

.controller #caesar_transposition #alphabet_standart,
.controller #caesar_transposition #alphabet_transpositioned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #2c2c2c), to(#1f1f1f));
  background: linear-gradient(90deg, #2c2c2c 20%, #1f1f1f 100%);
}

.controller #caesar_transposition #alphabet_standart .alphabet_transpos,
.controller #caesar_transposition #alphabet_transpositioned .alphabet_transpos {
  border-left: 1px dashed rgba(255, 255, 255, 0.24);
  font-size: 100%;
  width: 10px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  font-weight: 400;
  text-align: center;
  text-transform: lowercase;
  color: #ffffffd5;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
}

.controller .alphabet_row_collect {
  -webkit-box-shadow: 0px 0px 20px rgba(17, 17, 17, 0.4);
          box-shadow: 0px 0px 20px rgba(17, 17, 17, 0.4);
}

.controller .arrow {
  color: rgba(255, 255, 255, 0.199);
}

.controller .settings_operators {
  font-size: 14px;
  font-weight: 700;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #dadada;
  letter-spacing: 0.1em;
}

.controller .settings_operators #selectCase:focus {
  outline: none;
}

.controller .settings_operators textarea#alphabet {
  height: auto;
}

.controller .settings_operators textarea#alphabet:focus {
  outline: none;
}

.controller .settings_operators #alphabet {
  width: 100%;
  display: block;
  border: 1px solid #ccc;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 14px;
  font-weight: 600;
  border: none;
  padding: 1rem 0.5rem 0 24px;
}

.controller .settings_operators .settings_operator {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0.5rem 24px 0.5rem 24px;
  cursor: pointer;
}

.controller .settings_operators #caesar_shift_value {
  cursor: context-menu;
}

.controller .settings_operators #minus_caesar,
.controller .settings_operators #caesar_shift_value,
.controller .settings_operators #plus_caesar,
.controller .settings_operators #plus_ring,
.controller .settings_operators #minus_ring {
  font-size: 30px;
}

.feature_text {
  font-size: 14px;
  padding: 24px 24px 24px 24px;
  font-weight: 400;
  margin: 0;
  color: #dadada;
  letter-spacing: 0.2px;
  line-height: 1.5;
}

.feature_text a {
  color: white;
}

.primes .underline {
  text-decoration: underline;
}

.primes code {
  color: black;
  border: 1px solid #444444;
  padding: 7px;
}

.explanation {
  width: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 1.5;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.explanation p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  color: #dadada;
  letter-spacing: 0.2px;
}

.explanation a {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #dadada;
  font-weight: 700;
  padding-top: 20px;
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.double_content.controller {
  width: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid #444444;
}

.double_content.controller .controllbox {
  width: 50%;
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  border-right: 1px solid #444444;
  padding-bottom: 0.5rem;
}

.double_content.controller .controllbox .settings_name {
  border-right: none;
}

.double_content.controller .controllbox .settings_operators {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 0.5rem 0.5rem 24px;
  justify-self: flex-start;
  font-size: 12pt;
}

.double_content.controller .controllbox .settings_operators select option {
  color: black;
}

.double_content.controller .controllbox .settings_operators select:invalid {
  color: #dadada;
}

.double_content.controller .controllbox .settings_operators select.affine {
  font-size: 12pt;
  font-weight: 700;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  width: 3em;
  color: #dadada;
}

.double_content.controller .controllbox .settings_operators select.affine:focus {
  outline: none;
}

.double_content.controller .controllbox .settings_operators #includeChars {
  border: none;
  background: transparent;
  padding-right: 1em;
  cursor: pointer;
  color: #898989;
  font-size: 14px;
  font-weight: 700;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  padding-left: 0;
}

.double_content.controller .controllbox .settings_operators #includeChars.active {
  color: #dadada;
}

.double_content.controller .controllbox .settings_operators #includeChars:focus {
  outline: none;
}

.double_content.controller .controllbox .settings_operators #ignoreChars {
  border: none;
  background: transparent;
  cursor: pointer;
  color: #898989;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.double_content.controller .controllbox .settings_operators #ignoreChars.active {
  color: #dadada;
}

.double_content.controller .controllbox .settings_operators #ignoreChars:focus {
  outline: none;
}

.double_content.controller .controllbox select {
  background: transparent;
  border: none;
  font-size: 14px;
  font-weight: 700;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
  cursor: pointer;
}

.double_content.controller .controllbox select option {
  font-size: 12pt;
  font-weight: 700;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  padding: 0;
}

.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.modal .inner_modal {
  border-radius: 0px;
  overflow: hidden;
}

.modal .modal_header {
  width: 27vw;
  height: auto;
  background-color: #ececec;
  color: #101010;
  font-size: 18pt;
  font-weight: 700;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  padding: 24px;
}

.modal .modal_body {
  width: 27vw;
  padding: 24px;
  background-color: white;
}

.modal_open {
  overflow: hidden;
}

.method_category {
  color: #898989;
  font-size: 12pt;
  font-weight: 700;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-top: 2em;
}

.method_category span {
  padding-left: 0.25em;
}

.method_category ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.method_category li {
  list-style: none;
  padding: 0.25em;
}

.method_category li button {
  border: 0;
  font-weight: 400;
  font-size: 12pt;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.method_category li button:hover {
  cursor: pointer;
}

.method_category .modal_category_method {
  color: black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 1px rgba(0, 0, 0, 0.08), 0 1px 2px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 1px rgba(0, 0, 0, 0.08), 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  background: #fff;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.method_category .modal_category_method:hover {
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 2px rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 2px rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}

.playfairTable {
  height: 40px;
  margin: 2px;
  position: relative;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15%;
          flex: 1 1 15%;
  display: inline-block;
  color: #dadada;
  text-decoration: none;
  font-size: 30px;
  background-color: #327ca7;
  padding: 5px;
  font-weight: 900;
  cursor: default;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.486);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.486);
}

#visualMatrix.controller {
  border: none;
}

#visualMatrix {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#ring_container {
  width: 100%;
  height: auto;
  -webkit-perspective: 2000;
  /* For compatibility with iPhone 3.0, we leave off the units here */
  perspective: 2000px;
  -webkit-perspective-origin: 50% 225px;
  perspective-origin: 50% 225px;
  padding: 24px;
}

.shape {
  position: relative;
  margin: 0 auto;
  height: 25px;
  width: 27px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.plane {
  position: absolute;
  height: 27px;
  width: 30px;
  border: 1px solid #252525;
  border-width: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-family: Times, serif;
  font-size: 10pt;
  color: black;
  background-color: #3889b7;
  color: white;
  font-size: 13pt;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-transition: -webkit-transform 500ms, opacity 500ms;
  transition: -webkit-transform 500ms, opacity 500ms;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#turntable {
  position: relative;
  margin: 0 auto;
  height: auto;
  width: 100px;
  padding-bottom: 24px;
  padding-top: 24px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: spin 20s infinite linear;
  animation: spin 20s infinite linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}

@media only screen and (max-width: 1280px) {
  #block_container {
    margin: 0rem 8vw;
    margin-bottom: 3em;
  }
  .site_header #header_links {
    margin-right: 8vw;
  }
  .site_header p {
    margin-left: 8vw;
  }
}

.slick-prev:before,
.slick-next:before {
  color: white !important;
  opacity: 0.9;
}

div:focus {
  outline: none;
}

.history_element {
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12pt;
  height: 70px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
}

.history_element:focus {
  outline: none;
}

.history_element:hover {
  cursor: pointer;
}

.history_element div {
  font-size: 12pt;
  font-weight: 400;
  width: 100%;
  text-align: center;
  line-height: 1.5;
}

.history_element .dot {
  border: none;
  width: 10px;
  height: 10px;
  background-color: white;
  padding: 0;
  border-radius: 50%;
  border: 1px solid #ed484a;
  margin-top: 4px;
}

.history_element h3 {
  font-weight: 400;
  font-size: 8pt;
  margin: 0px;
  width: 100%;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.timeline_description,
.dot, h3 {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.dot {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.slick-current .dot {
  background-color: #f76c6c;
  width: 15px;
  height: 15px;
  border: 3px solid #ed484a;
  background-color: white;
  margin-top: 3px;
}

.slick-current .timeline_description {
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 13pt;
  line-height: 1.3;
}

.slick-current h3 {
  font-weight: 600;
  letter-spacing: 3px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 25pt !important;
}

#freq {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #dadada;
}

#freq .svgWrapper {
  width: 95%;
}

#freq svg {
  width: 100%;
  height: 100%;
  overflow: visible;
}

#freq_explanatory_text {
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  padding: 0 0 24px 0;
  font-weight: 400;
  width: 100%;
  color: #dadada;
}

.button_menue {
  padding: 0.5em 1em 0em 24px;
}

.button_menue:after {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  vertical-align: middle;
  cursor: pointer;
  color: #dadada;
}

.helpme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.informational_modal {
  font-size: 14px;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: 0px;
  padding-left: 10px;
}

#signup_form .MuiContainer-root {
  margin-top: 20px;
  margin-bottom: 20px;
}

#signup_form .MuiButton-containedPrimary {
  background-color: #ff586e !important;
}

#signup_form .makeStyles-avatar-2 {
  background-color: #ff586e;
}

#converter .block_head_text svg {
  font-size: 10px;
  padding-left: 10px;
  padding-bottom: 2px;
}

#converter .MuiButton-label svg {
  padding-bottom: 0;
  font-size: 18px;
}

#converter .MuiExpansionPanel-rounded:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#converter .MuiIconButton-root {
  color: #dadada !important;
}

#converter .MuiButton-root {
  min-width: 25px !important;
  height: 25px !important;
  font-weight: 600 !important;
  background: transparent !important;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 20px !important;
  line-height: 1 !important;
  color: #ff586e !important;
}

#converter .MuiPaper-root {
  background-color: #363636 !important;
  color: #dadada !important;
}

#converter .MuiPaper-root a {
  color: #dadada !important;
  letter-spacing: 0.05em;
  font-weight: 600;
}

#converter .MuiExpansionPanel-root.Mui-expanded {
  margin: 0 !important;
}

#converter .MuiButton-label {
  text-transform: none;
}

#converter .MuiButton-text {
  padding: 0 !important;
}

.controll_handles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.collector_freq_button {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}

.expandbutton_field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.87);
}

.expandbutton_name {
  margin: 12px 0;
  font-weight: 400;
  line-height: 1.43;
}

.expand_menue,
.coincidence_menue {
  max-height: 0;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  word-break: break-word;
  width: 100%;
  color: white;
}

.expand_menue h1,
.coincidence_menue h1 {
  width: 100%;
  text-align: left;
  font-size: 20px;
  margin-bottom: 2em;
}

.expand_menue p,
.coincidence_menue p {
  margin-left: 0;
  margin-right: auto;
  font-size: 14px;
  padding: 0 0 24px 0;
  font-weight: 400;
  width: 100%;
  margin-bottom: 1em;
}

#timeline {
  color: white;
  padding: 35px;
  margin: 0 auto;
  min-width: 330px;
  max-width: 18vw;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 2vh;
}

#timeline .timeline_border {
  min-width: 100%;
  max-width: 45vw;
  height: 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 38px;
  border-bottom: 4px solid #ed484a;
}

#timeline div:focus {
  outline: 'none';
}

#timeline .slick-next {
  right: -17px;
  top: 31px;
}

#timeline .slick-prev {
  left: -30px;
  top: 31px;
}

#timeline .slick-track:focus {
  outline: none;
}

#timeline h3 {
  text-align: center;
}

.site_footer {
  background-color: #272727;
  width: 100%;
  color: white;
  height: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  z-index: 2;
}

#footer_links {
  margin-left: 13vw;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16pt;
  font-weight: 200;
}

#footer_login,
#footer_signup,
#footer_about {
  font-size: 16pt;
  color: white;
  margin: 0 1em;
  text-decoration: none;
}

@media only screen and (max-width: 1100px) {
  .modal .modal_header,
  .modal .modal_body {
    width: 50vw;
  }
  #hero h1 {
    font-size: 50px;
  }
  #hero h3 {
    font-size: 16px;
  }
  #hero h3 .hero_link a {
    bottom: -13px;
  }
  #block_container {
    margin: 0 auto;
    margin-bottom: 3em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .block_connector {
    color: #dadada;
    top: 0;
    height: 50px;
    max-width: 70vw;
    width: 70vw;
    background: transparent;
  }
  .block {
    max-width: 70vw;
    width: 70vw;
  }
  .block_settings {
    max-width: 70vw;
  }
  #timeline {
    margin-top: 0;
  }
}

@media only screen and (max-width: 700px) {
  .modal .modal_header,
  .modal .modal_body {
    width: 80vw;
  }
  #hero h1 {
    font-size: 25px;
    width: 100vw;
  }
  #hero h3 {
    font-size: 14px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    margin: 0 auto;
    margin-top: 10px;
  }
  #hero h3 .hero_link a {
    bottom: -12px;
  }
  #block_container {
    margin: 0px;
    margin-bottom: 0em;
  }
  .block_connector {
    width: 100%;
    max-width: 100%;
    height: 50px;
    background-color: transparent;
  }
  .site_footer {
    margin-top: 0;
  }
  #header_margin {
    display: none;
  }
  .site_header {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site_header #header_links {
    margin: 2px 0;
  }
  .site_header .site_title {
    margin: 4px 0;
  }
  .block {
    width: 100vw;
    max-width: 100vw;
    border-radius: 0px;
  }
  .block .block_head {
    height: 70px;
  }
  .block .block_body .block_body_output textarea {
    height: 100px;
  }
  .block .block_body .block_body_input textarea {
    height: 100px;
  }
  .block_settings {
    width: 100vw;
    border-radius: 0px;
    max-width: 100vw;
  }
  #timeline {
    margin-top: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 50vw;
    padding: 30px;
  }
  #timeline .slick-slide.slick-active.slick-current .dot {
    top: 27px;
  }
}

#genRandomTab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 24px;
}

#genRandomTab button {
  font-size: 14px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 2px;
  border: none;
  background-color: #327ca7;
  color: white;
  font-weight: 500;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-top: 1em;
  padding-left: 24px;
  padding-right: 24px;
  -webkit-transition: -webkit-box-shadow 0.3s ease-out;
  transition: -webkit-box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
  text-decoration: none;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#genRandomTab button:hover {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

#genRandomTab button:focus {
  outline: none;
}

#genRandomTab #otpKey {
  font-size: 12px;
  word-break: break-word;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: text;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#genRandomTab #generate {
  text-transform: uppercase;
  margin-bottom: 1em;
}

@-moz-document url-prefix() {
  .history_element h3 {
    font-weight: 400;
  }
  .feature_text {
    font-weight: 200;
    letter-spacing: 0.7px;
    font-size: 9.5pt;
  }
  .controller.explanation p {
    font-weight: 300;
  }
  .block_method_explanation {
    font-weight: 300;
  }
  .block_head_text {
    font-weight: normal;
  }
  #block_head_modal {
    font: 500 24px "Roboto", "Helvetica", "Arial", sans-serif !important;
  }
}

.controller.double_content.prime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 0;
}

.controller.double_content.prime .controllbox {
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  border-bottom: 1px solid #444444;
}

.controller.double_content.prime textarea {
  width: 100%;
  word-break: break-all;
  padding: 0;
  font-size: 12px;
  overflow: auto;
  height: 100px;
  padding-right: 5px;
}

.controller.double_content.prime .phi {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.controller.double_content.prime .settings_name {
  text-transform: none;
}
/*# sourceMappingURL=style.css.map */