$border: rgba(255, 255, 255, 0.541);

.substitution_character {
  //border: 1px solid $border;
  text-align: center;
  font-size: 13px;
  font-weight: 200;
  border-right: none;
}

.substitution {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;

  &:last-child {
    border-right: none;
  }

  &__character {
    text-align: center;
    font-size: 13px;
    font-weight: 200;
    border-right: none;
  }

  &__input-wrapper {
    width: 25px;
  }

  &__input {
    background-color: rgb(62, 148, 197);
    border-radius: 50%;
    border: none;
    width: 100%;
    height: 25px;
    color: white;
    text-align: center;
    padding: 4px;

    &--double_character {
      background-color: #ff3f59ad;
    }
  }
}
