@import '../../../../../style.scss';

.ioc-information {
  width: fit-content;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-self: flex-start;
  font-size: 16px;

  &__category {
    letter-spacing: 0.05rem;
    font-weight: 500;
    color: $Reddish-Main;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    text-align: left;

    &:last-child {
      margin-bottom: 0;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__text {
    color: rgb(218, 218, 218);
  }
}
