@import '../../style.scss';

.nav {
  &-normal {
    transition-duration: 200ms;
    opacity: 1;
  }

  &-hidden {
    transition-duration: 200ms;
    opacity: 0;
  }
}

.menue-items {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.header-margin {
  background-color: transparent;
  width: 100vw;
  position: relative;
}

.site-title {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;

  &__image {
    margin-left: 5px;
    align-self: center;
    justify-self: flex-start;
    margin-top: 5px;

    width: 2.5rem;
    align-self: center;
    justify-self: flex-start;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 40px;

    &:last-child {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
  p {
    transition-duration: $Transition-Short;
    font-size: 30pt;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
    outline: none;
  }
}

.MuiToolbar-root {
  h6 {
    margin-left: 5vw;
  }
}
