@import '../../../style.scss';

.ring-container {
  width: 100%;
  height: auto;
  //-webkit-perspective: 2000; /* For compatibility with iPhone 3.0, we leave off the units here */
  //perspective: 2000px;
  //-webkit-perspective-origin: 50% 225px;
  //perspective-origin: 50% 225px;
  padding: 24px;

  &__turntable {
    position: relative;
    margin: 0 auto;
    height: auto;
    width: 100px;
    transform-style: preserve-3d;
    -webkit-animation: spin 20s infinite linear;
    animation: spin 20s infinite linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__ring {
    position: relative;
    margin: 0 auto;
    height: 25px;
    width: 27px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  &__plane {
    position: absolute;
    height: 27px;
    width: 30px;
    border: 2px solid #3a3b3c;
    box-sizing: border-box;
    text-align: center;
    font-family: Times, serif;
    font-size: 10pt;
    color: black;
    background-color: $Blue-Main;
    color: white;
    font-size: 13pt;
    font-weight: 400;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    transition: -webkit-transform 500ms, opacity 500ms;
    backface-visibility: hidden;
  }

  &__character {
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}
