$blockbg: #ececec;
$blockco: #101010;
$font: 'Roboto', 'Helvetica', 'Arial', sans-serif;

.modal-wrapper {
  position: absolute;
  width: 100vw;
  height: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #303031;
  border-radius: 0px;
  overflow-y: auto;

  &__body {
    padding: 24px;
    background-color: #272727;
  }

  &__category-title {
    padding-left: 0.25em;
  }

  &__bottom-wrapper {
    padding-left: 24px;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    border-top: 1px solid #424242;

    &--no-border-top {
      border: none;
      background-color: #2d2d2d;
    }

    &--split-buttons {
      justify-content: space-between;
      padding: 0.5rem 0.5rem;
    }
  }

  &__close,
  &__link {
    transition: all 300ms;
    background-color: #3a3b3c;
    text-decoration: none;
    border: none;
    padding: 1em 2em;
    color: #b0b3b8;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1em;
    line-height: 1.5;
    cursor: pointer;

    &--right {
      margin-left: auto;
    }

    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1),
      0 1px 3px 1px rgba(0, 0, 0, 0.08), 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    &:hover {
      background-color: rgb(127, 129, 133) !important;
      color: white;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1),
        0 2px 4px 2px rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    }
  }

  &__explanation-wrapper {
    color: hsla(0, 0%, 100%, 0.884);
    margin-right: auto;
    letter-spacing: 0.1rem;
    font-weight: 400;
    font-size: 12px;
    margin-top: 5px;
  }

  &__legend {
    width: fit-content;
    margin-right: auto;
  }

  &__message {
    font-weight: 400;
    color: #b0b3b8;
    font-size: 1rem;
  }

  &__preset-table {
    color: white;
    border-collapse: collapse;
    width: 100%;
    font-size: 1.25rem;
  }

  &__preset-table-head {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left;
    background-color: #2d2d2d;
    color: white;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: 400;
    border-bottom: 1px solid #424242;

    &--center {
      text-align: center;
    }
  }

  &__preset-table-input {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    border: none;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    color: #fff;
    font-size: 1rem;
    outline-color: rgba(0, 0, 0, 0);
    font-weight: 400;
    letter-spacing: 0.05rem;

    &::placeholder {
      color: rgba(255, 255, 255, 0.692);
      opacity: 1;
    }

    &:-internal-autofill-selected {
      background-color: rgba(0, 0, 0, 0);
    }
  }

  &__button {
    background-color: transparent;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 300ms;
    &--blue {
      color: #3e94c5;
      &:hover {
        color: #58c2ff;
      }
    }
  }

  &__presets-table-cell {
    font-size: 0.9rem;
    text-align: left;
    letter-spacing: 0.075rem;
    font-weight: 200;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-bottom: 1px solid #424242;
    background-color: #2d2d2d;

    &--center {
      text-align: center;
    }

    &--btn-blue {
      color: rgb(62, 148, 197);
      font-size: 24px;
      text-align: center;
      cursor: pointer;
      transition: all 300ms;
      &:hover {
        color: #58c2ff;
      }
    }

    &--btn-red {
      color: rgb(230, 50, 73);
      font-size: 24px;
      text-align: center;
      cursor: pointer;
      transition: all 300ms;
      &:hover {
        color: #ff7184;
      }
    }
  }

  &__content {
    color: #cacaca;
    font-size: 12pt;
    font-weight: 400;
    font-family: $font;
    margin-top: 2rem;
    letter-spacing: 0.1rem;

    &--message {
      font-weight: 200;
      padding: 2em;
      width: 100%;
      text-align: center;
      color: white;
    }

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      margin: 0;
      padding: 0;
    }
  }

  &__list-item {
    list-style: none;
    padding: 0.25em;
    width: 100%;
    text-align: center;
    color: white;
    letter-spacing: 0.1rem;
    font-weight: 200;

    &--row {
      width: fit-content;
      text-align: left;
    }

    &--red {
      color: rgb(255, 88, 110);
    }

    &--cta {
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }
  }

  &__close-btn {
    color: #b0b3b8;
    transition: all 300ms;

    &:hover {
      color: white;
    }
  }

  &__encryption-method {
    border: 0;
    font-weight: 200;
    color: black;
    width: fit-content;
    padding: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1),
      0 1px 3px 1px rgba(0, 0, 0, 0.08), 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    border-radius: 50px;
    background: #fff;
    transition-duration: 300ms;
    background: #424344;
    color: white;
    letter-spacing: 0.15rem;
    font-size: 0.8rem;
    &:hover {
      background: #545557;
      cursor: pointer;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1),
        0 2px 4px 2px rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    }
  }

  &__header {
    width: auto;
    height: auto;
    background-color: #1d1e1f;
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    padding: 24px;
    text-align: center;
    letter-spacing: 0.1rem;
    filter: drop-shadow(0px -5px 5px #000000c5);

    &--space-between {
      display: flex;
      justify-content: space-between;
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  &__chip-text {
    display: inline-block;
  }

  &__featured-sign {
    color: #3e94c5;
    font-weight: 700;
    float: left;
    margin-right: 5px;
  }

  &__unfeatured-sign {
    color: #c53e3e;
    font-weight: 700;
    float: left;
    margin-right: 5px;
  }
}

@media only screen and (min-width: 700px) {
  .modal {
    max-width: 70vw;
    &__header {
      font-size: 20px;
      letter-spacing: 0.2rem;
    }

    &__encryption-method {
      margin-top: 0.4rem;
      padding: 10px;
      font-size: 0.9rem;
      letter-spacing: 0.1rem;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .modal {
    max-width: 80vw;
    &__header {
      font-size: 24px;
      letter-spacing: 0.2rem;
    }
  }
}
