@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap');

// Vars
$mainMarginMin1500: 10rem;
$mainMarginMax1500: 6rem;
$transitionMain: 100ms;


body {
    background-color: rgb(52, 72, 97);
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro', sans-serif;
}

textarea {
    &:focus { outline: none; }
}

.site_header {
    height: 96px;
    width: 100%;
    background-color: rgb(17, 24, 32);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

    #header_links {
        transition-duration: $transitionMain;
        margin-right: $mainMarginMin1500;

        a {
            color: #ffffff;
            text-decoration: none;
            font-size: 15pt;
        }

        #login {
            margin-right: 2rem;
        }

        #signup {
            margin-right: 2rem;
        }
    }

    p {
        transition-duration: $transitionMain;
        font-size: 30pt;
        margin-left: $mainMarginMin1500;
    }
}


.block {
    min-width: 330px;
    flex-grow: 2;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    overflow: hidden;

    .block_top_decoration {
        height: 4px;
        background-color: rgb(255, 255, 255);
    }

    .block_head {
        height: 115px;
        background-color: rgb(255, 107, 113);
        color: rgb(255, 255, 255);
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20pt;
        font-weight: 700;
        box-sizing: border-box;
        padding: 16px;
        display: flex;

        .block_head_text {
            display: inline-block;
            align-self: flex-end;
        }
    }

    .block_body {

        .block_body_input, .block_body_output {
            width: 100%;
            height: 100%;
            line-height: 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;

            textarea {
                resize: none;
                border: none;
                overflow: hidden;
                box-sizing: border-box;
                width: 100%;
                height: 200px;
                padding: 16px;
                line-height: 1.5;
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 14pt;
                font-weight: 300;
            }

            div {
                resize: none;
                border: none;
                overflow: hidden;
                box-sizing: border-box;
                width: 100%;
                height: 200px;
                padding: 16px;
                line-height: 1.5;
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 14pt;
                font-weight: 300;
            }
        }
    }
}


#block_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: $mainMarginMin1500;
    transition-duration: $transitionMain;
}

.block_connector {
    flex-grow: 1;
    min-width: 40px;
    height: 90px;
    top: 70px;
    background-color: rgb(179, 81, 85);
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 48pt;
    font-weight: 700;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 1500px) {
    #block_container {
        margin: $mainMarginMin1500 $mainMarginMax1500;
    }
    .site_header #header_links {
        margin-right: $mainMarginMax1500;
    }
    .site_header p{
        margin-left: $mainMarginMax1500;
    }
}

.block_settings {
    color: #2f1728;
    min-width: 330px;
    max-width: 430px;
    flex-grow: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    overflow: hidden;

    .block_top_decoration {
        height: 4px;
        background-color: rgb(255, 255, 255);
    }

    .block_head {
        height: 115px;
        background-color: rgb(255, 107, 113);
        color: rgb(255, 255, 255);
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20pt;
        font-weight: 700;
        box-sizing: border-box;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .block_head_options {
            display: flex;
        
            .block_head_option {
                font-size: 11pt;
                margin: 0;
                padding-right: 1em;
                color: rgb(47, 23, 40);
                font-weight: 700;
                
                &:hover {
                    cursor: pointer;
                }
            }

            .block_head_option.selected {
                color: rgb(255, 255, 255);
            }
        }

        button {
            &:focus { outline: none; }
            background-color: transparent;
            font-weight: 700;
            border: none;
            margin: 0;
            padding: 0;
        }

        .block_head_text {
            display: inline-block;
            align-self: flex-start;
            color: white;
            border: none;
            background-color: transparent;
            font-size: 20pt;
            font-weight: 700;
            margin: 0;
            padding: 0;

            #caret {
                width: .75em;
                fill: white;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .block_body {
        height: auto;

        .block_body_input, .block_body_output {
            width: 100%;
            height: 100%;
            line-height: 0;
            box-sizing: border-box;
            display: block;

            textarea {
                resize: none;
                border: none;
                overflow: hidden;
                box-sizing: border-box;
                width: 100%;
                height: 200px;
                padding: 16px;
                line-height: 1.5;
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 14pt;
                font-weight: 300;
            }
        }
    }
}

.controller {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    height: auto;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid rgb(188, 188, 188);

    .settings_name {
        border-right: 1px solid rgb(188, 188, 188);
        color: rgb(137, 137, 137);
        padding: 1em 1em 0em 16px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 10pt;
        font-weight: 700;
        line-height: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .settings_operators {
        font-size: 25pt;
        font-weight: 700;
        font-family: 'Source Sans Pro', sans-serif;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        #selectCase {
            &:focus { outline: none; }    
        }
        

        textarea#alphabet {
            height: auto;

            &:focus { outline: none; }
        }

        #alphabet {
            width: 100%;
            display: block;
            border: 1px solid #ccc;
            overflow-x: hidden;
            overflow-y: auto;
            font-size: 12pt;
            font-weight: 600;
            border: none;
            padding: 1rem .5rem 0 16px;
        }

        .settings_operator {
            user-select: none;
            padding: .5rem 16px .5rem 16px;
            cursor: pointer;
        }

        #caesar_shift_value {
            cursor: context-menu;
        }
    }
}

.controller.explanation {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    height: fit-content;
    line-height: 1.5;
    padding: 16px;
    display: flex;
    align-content: center;
    justify-content: center;

    p {
        width: 100%;
        font-size: 11pt;
        line-height: 1.5;
        margin: 0;
        align-self: center;
        font-weight: 400;
    }

    a {
        align-self: flex-start;
        color: black;
        font-weight: 700;
        padding-top: 20px;
        font-weight: 500;
        width: fit-content;
    }
}

.double_content.controller {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    height: auto;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(188, 188, 188);

    .controllbox {
        width: 50%;
        height: 5em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: flex-start;
        border-right: 1px solid rgb(188, 188, 188);

        .settings_name {
            border-right: none;
        }

        .settings_operators {
            width: fit-content;
            padding: .5rem .5rem .5rem 16px;
            justify-self: flex-start;
            font-size: 12pt;

            select.affine {
                font-size: 12pt;
                font-weight: 700;
                font-family: 'Source Sans Pro', sans-serif;
                width: 3em;

                &:focus { outline: none; }
            }

            #includeChars {
                border: none;
                background: transparent;
                padding-right: 1em;
                cursor: pointer;
                color: rgb(137, 137, 137);
                font-size: 12pt;
                font-weight: 700;
                font-family: 'Source Sans Pro', sans-serif;
                padding-left: 0;

                &.active {
                    color: black;
                }

                &:focus { outline: none; }
            }

            #ignoreChars {
                border: none;
                background: transparent;
                cursor: pointer;
                color: rgb(137, 137, 137);
                font-size: 12pt;
                font-weight: 700;
                font-family: 'Source Sans Pro', sans-serif;

                &.active {
                    color: black;
                }

                &:focus { outline: none; }
            }
        }

        select {
            background: transparent;
            border: none;
            font-size: 12pt;
            font-weight: 700;
            font-family: 'Source Sans Pro', sans-serif;
            padding: 0;
            width: fit-content;
            text-align: start;
            cursor: pointer;

            option {
                font-size: 12pt;
                font-weight: 700;
                font-family: 'Source Sans Pro', sans-serif;
                padding: 0;
            }
        }
    }
}

.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .modal_header {
        width: 36vw;
        height: auto;
        background-color: #ff6b71;
        color: white;
        font-size: 20pt;
        font-weight: 700;
        font-family: 'Source Sans Pro', sans-serif;
        padding: 16px;
    }

    .modal_body {
        width: 36vw;
        padding: 16px;
        background-color: white;
    }
}

.modal_open {
    overflow: hidden;
}

.method_category {
    color: #898989;
    font-size: 12pt;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 2em;

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;

        button {
            border: 0;
            font-weight: 400;
            font-size: 12pt;
            font-family: 'Source Sans Pro', sans-serif;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .modal_category_method {
        color: black;
        width: fit-content;
        padding: 10px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 3px 1px -2px rgba(0,0,0,0.08), 0 1px 5px 0 rgba(0,0,0,0.16);
        border-radius: 2px;
        background: #fff;
        margin-top: 16px;
    }
}

.playfairTable {
    height: 50px; 
    border: 0.5px solid #00000044;
    margin: 1px;
    position: relative; 
    flex: 1 1 19%; 
    text-align: center; 
    justify-content: center;  
    align-items: center;
}

#visualMatrix.controller {
    border: none;
}

#visualMatrix {
    padding: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
}