@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');

// Vars
$mainMarginMin1500: 5rem;
$mainMarginMax1500: 3rem;
$mainMarginMax1280: 2rem;
$mainMarginMax1150: .5rem; 
$transitionMain: 100ms;

$yellowish: #ffce2c;
$yellowish: #f76c6c;
$reddish: #f76c6c;
$darkreddish: #f76c6c;
$darkreddish: #24305e;
$darkblue: #24305E;

$blueish: #2f445e;
$blueish: #a8d0e6;
$greyish: #585858;

$slickarrow: black;
$dotborder: black;
$currentdot: white;
$inactivedot: #ffffff;
$colorHeader: white;

body {
    background-color: $blueish;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro', sans-serif;
}

textarea {
    &:focus { outline: none; }
}

#header_margin {
    height: 80px;
}

.site_header {
    position: fixed;
    z-index: 998;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $colorHeader;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

    #header_links {
        transition-duration: $transitionMain;
        margin-right: 7rem;
        font-weight: 200;

        a {
            color: $colorHeader;
            text-decoration: none;
            font-size: 15pt;

        }

        #login {
            transition-duration: .1s;
            margin-right: 2rem;
        }

        #signup {
            transition-duration: .1s;
            margin-right: 2rem;
        }

        #about {
            transition-duration: .1s;
        }
    }

    p {
        transition-duration: $transitionMain;
        font-size: 30pt;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 7rem;
        line-height: 1;
        outline: none;
    }
}

.site_header #header_links {
    #login, #signup, #about {
        box-shadow: 0px 0px black;
        &:hover{
            border-bottom: 3px solid $reddish;
            border-top: 3px solid white;
        }
    }    
}


.block {

    #chartcontainer {
        border-top: 1px solid #bcbcbc;
    }

    min-width: 330px;
    flex-grow: .3;
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

    .block_top_decoration {
        height: 0px;
        background-color: rgb(255, 255, 255);
    }

    .block_head {
        height: 100px;
        background-color: $reddish;
        color: rgb(255, 255, 255);
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20pt;
        font-weight: 700;
        box-sizing: border-box;
        padding: 16px;
        display: flex;

        .block_head_text {
            display: inline-block;
            align-self: flex-end;
        }
    }

    .block_body {

        .block_body_input, .block_body_output {
            width: 100%;
            height: 100%;
            line-height: 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;

            textarea {
                resize: none;
                border: none;
                overflow: hidden;
                box-sizing: border-box;
                width: 100%;
                height: 200px;
                padding: 16px;
                line-height: 1.5;
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 14pt;
                font-weight: 300;
            }

            div {
                resize: none;
                border: none;
                overflow: hidden;
                box-sizing: border-box;
                width: 100%;
                height: 200px;
                padding: 16px;
                line-height: 1.5;
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 14pt;
                font-weight: 300;
            }
        }
    }
}

#user_input {
    flex-grow: 0;
}


#block_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 2rem 7rem;
    transition-duration: $transitionMain;
}

.block_connector {
    flex-grow: 0;
    min-width: 65px;
    height: 65px;
    top: 66px;
    background-color: #ececec;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35pt;
    font-weight: 900;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    z-index: -1;
    
}


@media only screen and (max-width: 1500px) {
    #block_container {
        margin: 2rem 2rem;
    }
    .site_header #header_links {
        margin-right: $mainMarginMax1500;
    }
    .site_header p{
        margin-left: $mainMarginMax1500;
    }
}

.block_settings {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    #to_replace_letter, #replacement_letter {
        resize: none;
        border: none;
        overflow: hidden;
        box-sizing: border-box;
        width: 100%;
        height: 2em;
        padding: 0;
        line-height: 1.5;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14pt;
        font-weight: 300;
    }

    color: #2f1728;
    min-width: 330px;
    max-width: 430px;
    flex-grow: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    overflow: hidden;

    .block_top_decoration {
        height: 0px;
        background-color: rgb(255, 255, 255);
    }

    .block_head {
        height: 100px;
        background-color: $reddish;
        color: rgb(255, 255, 255);
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20pt;
        font-weight: 700;
        box-sizing: border-box;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .block_head_options {
            display: flex;
        
            .block_head_option {
                font-size: 11pt;
                margin: 3px;
                margin-right: 1em;
                color: rgb(47, 23, 40);
                font-weight: 700;
                transition-duration: .2s;
                
                &:hover {
                    cursor: pointer;
                    box-shadow: 0px 3px rgb(255, 255, 255);
                }
            }

            .block_head_option.selected {
                color: rgb(255, 255, 255);
            }
        }

        button {
            &:focus { outline: none; }
            background-color: transparent;
            font-weight: 700;
            border: none;
            margin: 0;
            padding: 0;
        }

        .block_head_text {
            display: inline-block;
            align-self: flex-start;
            color: white;
            border: none;
            background-color: transparent;
            font-size: 20pt;
            font-weight: 700;
            margin: 0;
            padding: 0;

            #caret {
                width: .75em;
                fill: white;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .block_body {
        height: auto;

        .block_body_input, .block_body_output {
            width: 100%;
            height: 100%;
            line-height: 0;
            box-sizing: border-box;
            display: block;

            textarea {
                resize: none;
                border: none;
                overflow: hidden;
                box-sizing: border-box;
                width: 100%;
                height: 200px;
                padding: 16px;
                line-height: 1.5;
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 14pt;
                font-weight: 300;
            }
        }
    }
}

.controller {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    height: auto;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid rgb(188, 188, 188);

    .settings_name {
        border-right: 1px solid rgb(188, 188, 188);
        color: rgb(137, 137, 137);
        padding: 1em 1em 0em 16px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 10pt;
        font-weight: 700;
        line-height: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    #caesar_transposition {
        box-sizing: border-box;
        width: 100%;
        padding: 16px 16px 16px 16px;
        margin-top: 5px;
        margin-bottom: 5px;

        #alphabet_standart, #alphabet_transpositioned {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;

            .alphabet_transpos {
                border-left: 1px solid rgb(255, 255, 255);
                font-size: 100%;
                width: 10px;
                flex-grow: 1;
                font-weight: 400;
                text-align: center;
                text-transform: uppercase;
                background-color: $reddish;
                color: white;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
            }
        }
    }



    .settings_operators {
        font-size: 25pt;
        font-weight: 700;
        font-family: 'Source Sans Pro', sans-serif;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        #selectCase {
            &:focus { outline: none; }    
        }
        

        textarea#alphabet {
            height: auto;

            &:focus { outline: none; }
        }

        #alphabet {
            width: 100%;
            display: block;
            border: 1px solid #ccc;
            overflow-x: hidden;
            overflow-y: auto;
            font-size: 12pt;
            font-weight: 600;
            border: none;
            padding: 1rem .5rem 0 16px;
        }

        .settings_operator {
            user-select: none;
            padding: .5rem 16px .5rem 16px;
            cursor: pointer;
        }

        #caesar_shift_value {
            cursor: context-menu;
        }
    }
}

.controller.explanation {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    height: fit-content;
    line-height: 1.5;
    padding: 16px;
    display: flex;
    align-content: center;
    justify-content: center;

    p {
        width: 100%;
        font-size: 11pt;
        line-height: 1.5;
        margin: 0;
        align-self: center;
        font-weight: 400;
    }

    a {
        align-self: flex-start;
        color: black;
        font-weight: 700;
        padding-top: 20px;
        font-weight: 500;
        width: fit-content;
    }
}

.double_content.controller {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    height: auto;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(188, 188, 188);

    .controllbox {
        width: 50%;
        height: 5em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: flex-start;
        border-right: 1px solid rgb(188, 188, 188);

        .settings_name {
            border-right: none;
        }

        .settings_operators {
            width: fit-content;
            padding: .5rem .5rem .5rem 16px;
            justify-self: flex-start;
            font-size: 12pt;

            select.affine {
                font-size: 12pt;
                font-weight: 700;
                font-family: 'Source Sans Pro', sans-serif;
                width: 3em;

                &:focus { outline: none; }
            }

            #includeChars {
                border: none;
                background: transparent;
                padding-right: 1em;
                cursor: pointer;
                color: rgb(137, 137, 137);
                font-size: 12pt;
                font-weight: 700;
                font-family: 'Source Sans Pro', sans-serif;
                padding-left: 0;

                &.active {
                    color: black;
                }

                &:focus { outline: none; }
            }

            #ignoreChars {
                border: none;
                background: transparent;
                cursor: pointer;
                color: rgb(137, 137, 137);
                font-size: 12pt;
                font-weight: 700;
                font-family: 'Source Sans Pro', sans-serif;

                &.active {
                    color: black;
                }

                &:focus { outline: none; }
            }
        }

        select {
            background: transparent;
            border: none;
            font-size: 12pt;
            font-weight: 700;
            font-family: 'Source Sans Pro', sans-serif;
            padding: 0;
            width: fit-content;
            text-align: start;
            cursor: pointer;

            option {
                font-size: 12pt;
                font-weight: 700;
                font-family: 'Source Sans Pro', sans-serif;
                padding: 0;
            }
        }
    }
}

.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .inner_modal {
        border-radius: 0px;
        overflow: hidden;
    }

    .block_top_decoration {
        width:calc(27vw + 32px);
        height: 0px;
        background-color: white;
    }

    .modal_header {
        width: 27vw;
        height: auto;
        background-color: $reddish;
        color: white;
        font-size: 20pt;
        font-weight: 700;
        font-family: 'Source Sans Pro', sans-serif;
        padding: 16px;
    }

    .modal_body {
        width: 27vw;
        padding: 16px;
        background-color: white;
    }
}

.modal_open {
    overflow: hidden;
}

.method_category {
    color: #898989;
    font-size: 12pt;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 2em;

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        padding: .25em;

        button {
            border: 0;
            font-weight: 400;
            font-size: 12pt;
            font-family: 'Source Sans Pro', sans-serif;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .modal_category_method {
        color: black;
        width: fit-content;
        padding: 10px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 1px rgba(0, 0, 0, 0.08), 0 1px 2px 0 rgba(0, 0, 0, 0.16);
        border-radius: 2px;
        background: #fff;
        transition-duration: 200ms;
        &:hover {
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 2px rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.16);
        }
    }

}

.playfairTable {
    height: 50px; 
    border: 0.5px solid #00000044;
    margin: 1px;
    position: relative; 
    flex: 1 1 19%; 
    text-align: center; 
    justify-content: center;  
    align-items: center;
}

#visualMatrix.controller {
    border: none;
}

#visualMatrix {
    padding: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
}

#ring_container {
    width: 100%;
    height: auto;
    -webkit-perspective: 2000; /* For compatibility with iPhone 3.0, we leave off the units here */
    -webkit-perspective-origin: 50% 225px;
    padding: 16px;
}
  
.shape {
    position: relative;
    margin: 0 auto;
    height: 25px;
    width: 27px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
  
.plane {
    position: absolute;
    height: 27px;
    width: 30px;
    border: 1px solid white;
    border-width: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-family: Times, serif;
    font-size: 10pt;
    color: black;
    background-color: $reddish;
    color: white;
    font-size: 13pt;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-transition: -webkit-transform 500ms, opacity 500ms;
    transition: -webkit-transform 500ms, opacity 500ms;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
#turntable {
    position: relative;
    margin: 0 auto;
    height: auto;
    width: 100px;
    padding-bottom: 16px;
    padding-top: 16px;

    transform-style: preserve-3d;

    -webkit-animation: spin 10s infinite linear;
    animation: spin 10s infinite linear;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
@-webkit-keyframes spin {
    from { -webkit-transform: rotateY(0); }
    to   { -webkit-transform: rotateY(-360deg); }
}

@keyframes spin {
    from { -webkit-transform: rotateY(0); }
    to   { -webkit-transform: rotateY(-360deg); }
}
 

@media only screen and (max-width: 1280px) {
    #block_container {
        margin: 2rem 2rem;
    }
    .site_header #header_links {
        margin-right: $mainMarginMax1280;
    }
    .site_header p{
        margin-left: $mainMarginMax1280;
    }
}

.slick-prev:before, .slick-next:before {
    color: $slickarrow !important;
}

div {
    &:focus {
        outline: none;
    }
}

.history_element {
    z-index: 998;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &:focus { 
        outline: none; 
    } 

    &:hover {
        cursor: pointer;
    }

    div {
        font-size: 12pt;
        font-weight: 600;
        width: 100%;
        text-align: center;
        line-height: 1.5;
    }

    .dot {
        border: none;
        width: 10px;
        height: 10px;
        background-color: $inactivedot;
        padding: 0;
        border-radius: 50%;
        border: 1px solid $dotborder;
    }

    h3 {
        font-weight: 400;
        font-size: 8pt;
        margin: 0px;
        width: 100%;
        text-align: center;
        width: fit-content;
    }
}

.timeline_description, .dot, h3 {
    transition-duration: .2s;
}
.dot {
    transition-duration: .2s;
}

.slick-current {
    .dot {
        background-color: $yellowish;
        width: 14px;
        height: 14px;
        border: 2px solid $dotborder;
        background-color: $currentdot;

    }
    .timeline_description {
        font-weight: 600;
        letter-spacing: .5px;
        font-size: 13pt;
        line-height: 1.3;
    }
    h3 {
        font-weight: 900;
        letter-spacing: 3px;
    }
}

.slick-prev:before, .slick-next:before {
    
}

#freq {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    .svgWrapper {
        width: 85%;
    }
    svg {
        width: 100%;
        height: 100%;
        overflow: visible;
    }
}

/*
    svg {
        margin-top: 20px;
        margin-bottom: 20px;
        overflow: visible;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }*/



#timeline {
    color: black;
    padding: 25px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 0rem;
    min-width: 330px;
    max-width: 35vw;
    overflow: hidden;

    .timeline_border {
        min-width: 100%;
        max-width: 45vw;
        height: 0px;
        position: sticky;
        top: 38px;
        border-bottom: 4px dotted white;
    }

    div {
        &:focus {
            outline: 'none';
        }
    }

    .slick-next {
        right: -19px;
        top: 37px;
    }
    .slick-prev {
        left: -19px;
        top: 37px;
    }
    

    .slick-track {

        &:focus { 
            outline: none; 
        }
    }

    h3 {
        text-align: center;
    }
}



// MEDIA RULES

@media only screen and (max-width: 1100px) {

    .modal {
        .modal_header, .modal_body {
            width: 50vw;
        }
    }

    #block_container {
        margin: $mainMarginMin1500 0;
        flex-direction: column;
        align-items: center;
    }
    .block_connector {
        top: 0;
        width: 100px;
        height: 50px;
    }
    .block {
        width: 530px;
    }
    .block_settings {
        max-width: 530px;
    }
}

@media only screen and (max-width: 700px) {

    .modal {
        .modal_header, .modal_body {
            width: 80vw;
        }
    }

    #block_container {
        margin: 0px;
    }

    .block_connector {
        width: 40px;
        height: 40px;
    }

    #header_margin {
        display: none;
    }

    .site_header {
        position: relative;
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        align-items: center;

        #header_links {
            margin: 2px 0;
        }

        .site_title {
            margin: 4px 0;
        }
    }
    .block {
        width: 100vw;
        border-radius: 0px;

        .block_head {
            height: 70px;
        }

        .block_top_decoration {
            height: 0px;
            display: none;
        }
        .block_body {
            .block_body_output {
                textarea {
                    height: 100px;
                }
            }
            .block_body_input {

                textarea {
                    height: 100px;
                }
            }    
        }
    }
    .block_settings {
        width: 100vw;
        border-radius: 0px;
        max-width: 100vw;

        .block_top_decoration {
            display: none;
        }
    }

    #timeline {
        box-sizing: border-box;
        max-width: 100%;
        padding: 30px;
        margin-top: 2rem;
        margin-bottom: 2rem;
        .slick-slide.slick-active.slick-current{
            .dot {
                top: 27px;
            }    
        } 
    }
}