#hero {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(#0e0e0e), to(#1d3850)) fixed;
  background: #18191a;
}

#hero svg {
  padding: 0;
}

#hero h1 {
  text-align: center;
  color: white;
  font-family: "Khula", "Source Sans Pro", "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 45px;
  font-style: italic;
  letter-spacing: 0em;
  width: 100vw;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
  margin-bottom: 0em;
}

#hero h2 {
  color: white;
  text-align: center;
  font-family: "Khula", "Source Sans Pro", "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 200;
  font-size: 25px;
  letter-spacing: .1rem;
}

#hero div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#hero h3 {
  text-align: center;
  color: white;
  font-family: "Khula", "Source Sans Pro", "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.05em;
  width: 100vw;
  font-style: normal;
  line-height: 1.25em;
  text-rendering: optimizeLegibility;
}

#hero h3 .hero_link {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  border-bottom: 3px solid transparent;
  margin-bottom: 2em;
  letter-spacing: .1rem;
  font-weight: 400;
  margin-top: 5em;
  font-style: italic;
}

#hero h3 .hero_link:hover {
  border-bottom: 3px solid #f54444;
  letter-spacing: .12rem;
}

#hero h3 .hero_link a {
  vertical-align: top;
}

#hero h3 a {
  color: #a8abaf;
  text-decoration: none;
  line-height: 1.25em;
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
}

.bounce:hover {
  -webkit-animation-iteration-count: 0;
          animation-iteration-count: 0;
}

@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
  }
  95% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

#hero_text {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: auto;
  margin-top: 30vh;
}

#scrolldown {
  margin-bottom: 200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  transition: all 200ms;
  -webkit-transition: all 200ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

#scrolldown:hover {
  transition: all 200ms;
  -webkit-transition: all 200ms;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media only screen and (max-width: 1300px) {
  #hero_text {
    margin-top: 28vh;
  }
  #hero h1 {
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #hero h3 {
    font-size: 16px;
  }
  #hero h2 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 1100px) {
  #hero h1 {
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #hero h3 {
    font-size: 16px;
  }
  #hero h3 .hero_link a {
    bottom: -13px;
  }
}

@media only screen and (max-width: 700px) {
  #hero_text {
    margin-top: 7em;
  }
  #hero h1 {
    font-size: 25px;
    width: 90vw;
  }
  #hero h2 {
    font-size: 20px;
  }
  #hero h3 {
    font-size: 14px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    margin: 0 auto;
    margin-top: 10px;
  }
  #hero h3 .hero_link a {
    bottom: -12px;
  }
  #hero {
    height: calc(100vh - 60px);
  }
}
/*# sourceMappingURL=hero.css.map */