.history_element {
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12pt;
  height: 70px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
}

.history_element:focus {
  outline: none;
}

.history_element:hover {
  cursor: pointer;
}

.history_element div {
  font-size: 12pt;
  font-weight: 400;
  width: 100%;
  text-align: center;
  line-height: 1.5;
}

.history_element .dot {
  border: none;
  width: 15px;
  height: 15px;
  background-color: white;
  padding: 0;
  border-radius: 50%;
  border: 2px solid #3e94c5;
  margin-top: 4px;
}

.history_element h3 {
  font-weight: 400;
  font-size: 8pt;
  margin: 0px;
  width: 100%;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.timeline_description, .dot, h3 {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.dot {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.slick-current .dot {
  background-color: #f76c6c;
  width: 20px;
  height: 20px;
  border: 4px solid #3e94c5;
  background-color: white;
  margin-top: 3px;
}

.slick-current .timeline_description {
  font-weight: 500;
  letter-spacing: .07em;
  font-size: 13pt;
  line-height: 1.3;
}

.slick-current h3 {
  font-weight: 400;
  letter-spacing: 3px;
}

.hideOnTimeline {
  color: transparent;
}

.slick-prev:before, .slick-next:before {
  font-size: 30px !important;
}

#timeline {
  color: white;
  padding: 35px;
  margin: 0 auto;
  min-width: 330px;
  max-width: 18vw;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 2vh;
}

#timeline .timeline_border {
  min-width: 100%;
  max-width: 45vw;
  height: 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 38px;
  border-bottom: 4px solid #3e94c5;
}

#timeline div:focus {
  outline: 'none';
}

#timeline .slick-next {
  right: -17px;
  top: 33px;
}

#timeline .slick-prev {
  left: -28px;
  top: 33px;
}

#timeline .slick-track:focus {
  outline: none;
}

#timeline h3 {
  text-align: center;
}

.slick-prev:before, .slick-next:before {
  color: white !important;
  opacity: 0.9;
}

@-moz-document url-prefix() {
  .history_element h3 {
    font-weight: 400;
  }
}

@media only screen and (max-width: 1100px) {
  #timeline {
    margin-top: 0;
  }
}

@media only screen and (max-width: 700px) {
  #timeline {
    margin-top: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 50vw;
    padding: 30px;
  }
  #timeline .slick-slide.slick-active.slick-current .dot {
    top: 27px;
  }
}
/*# sourceMappingURL=timeline.css.map */